
.idea/
__pycache__/

amms/data/models/
amms/__pycache__/
examples/retrained_model/shared_volume/*

examples/retrained_model/retrain/.ipynb_checkpoints/
examples/retrained_model/retrain/data/models
examples/retrained_model/retrain/.metaflow
examples/retrained_model/retrain/src/.metaflow
*/**/.metaflow
**.pbz2