
# pycharm/jupyter/interpreter
**.DS_Store
**.idea/
**__pycache__/
**.pbz2
**.ipynb_checkpoints

# runtime data
**.log
**/logs
**/models
**.metaflow
**/*.pyc

# tests
.pytest_cache
htmlcov
.coverage

amms/src/provided_servables/
examples/docker_compose_sklearn_retraining/shared_volume/*


